extends base

block content
        .card-container-movie
            each genre in genres
                .flip-card
                    .flip-card-front
                        a.movie-link(href=`/genre/${genre.name}`)
                            img(src=`/img/genre/${genre.image}`, alt=`${genre.slug}`, style="width:300px;height:250px;border-radius:10px")
                        button.deletegenre(id='delete-genre' data-name=genre.name) Delete    

