extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password ? Copy this token and submit your request to the reset your password.
    p yout token #{url.split(' ')[1]}
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url.split(' ')[0]}`, target='_blank') Reset password
    p Please donot share this token with anyone! if not forgot your password then please ignore this email!


